{% extends 'mainapp/base.html' %}

{% block content %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">savekerala.xyz</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="https://savekerala.xyz">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Request Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Live Updates</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
    <h1 class="my-4">Locality List</h1>

        <div class="row">

            <div class="col-lg-3">



                <form method="GET" action="/camps/search/">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Camp Stock update</label>
                        <input type="" class="form-control" id="search" name="q" aria-describedby="emailHelp"
                               placeholder="Ernakulam">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
            <br>

                <div class="list-group">
                    {% for di in dists %}
                        <a href="/camps/district/?q={{ di.id }}" class="list-group-item">{{ di.title }}</a>
                    {% endfor %}
                </div>

            <br>

            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div class="row">
                    {% for camp in camps %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <!-- <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a> -->
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="#">{{ camp.title }}</a>
                                    </h4>
                                    <h5>{{ camp.locality.district }}</h5>
                                    <p class="card-text">{{ camp.location }}</p>
                                     <p class="card-text">{{ camp.contact_name|capfirst }} : {{ camp.contact_no }}</p>

                                </div>
{#                                <div class="card-footer">#}
{#                                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>#}
{#                                </div>#}
                            </div>
                        </div>
                    {% endfor %}


                </div>
                <!-- /.row -->

            </div>
            <!-- /.col-lg-9 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}